<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="并发编程15.分库分表.dao.UserMessageMapper">

    <select id="selectByUserId" parameterType="java.util.Map" resultType="并发编程15.分库分表.po.UserMessagePO">
        select * from t_user_message where user_id=#{userId}
    </select>


    <select id="selectNotRead" parameterType="java.util.Map" resultType="并发编程15.分库分表.po.UserMessagePO">
        select * from t_user_message where user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        and `status`=1 and is_read=0;
    </select>

    <insert id="insertToSplitTable">
        INSERT INTO t_user_message_${tableIndex}( user_id, object_id, relation_id, status, content, is_read, sid, type, ext_json, create_time, update_time)
        VALUES (#{user.userId},#{user.objectId},#{user.relationId},#{user.status},
        #{user.content},#{user.isRead},#{user.sid},#{user.type},#{user.extJson},#{user.createTime},#{user.updateTime})
    </insert>
</mapper>