<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="并发编程15.分库分表.dao.UserMessageMapper">

    <select id="selectByUserId" parameterType="java.util.Map" resultType="并发编程15.分库分表.po.UserMessagePO">
        select * from t_user_message_${table_index} where user_id=#{userId}
    </select>

    <select id="selectBySource" parameterType="java.util.Map" resultType="并发编程15.分库分表.po.UserMessagePO">
        select * from t_user_message order by id desc
    </select>

</mapper>